#[link(name = "sharegl",
	   vers = "0.1")];
#[crate_type = "lib"];

extern mod geom;

pub mod base;

#[cfg(target_os="macos")]
#[path="macos.rs"]
pub mod platform;

#[cfg(target_os="linux")]
#[path="dummy.rs"]
mod platform;

#[cfg(target_os="windows")]
#[path="dummy.rs"]
mod platform;
